{% extends 'layout.html' %}
{% load static %}
{% block content %}
<style>
  .dashboard{
  margin-top: 20px;
  margin-left: 40px;
  color: black;
  font-family: Georgia, serif;
  font-weight: bold; 
  font-size: 35px;
  z-index: 1000;
  }

  .centered-image {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 65%; 
      max-width: 100%;
      margin-top: 18px;
  }
</style>
<div class="dashboard">
  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
    <svg t="1738495067092" class="icon" viewBox="0 0 1129 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5325" width="20" height="20">
      <path d="M0 0m51.582588 0l997.263369 0q51.582588 0 51.582588 51.582588l0 0q0 51.582588-51.582588 51.582588l-997.263369 0q-51.582588 0-51.582588-51.582588l0 0q0-51.582588 51.582588-51.582588Z" p-id="5326"></path>
      <path d="M0 448.424632m51.582588 0l997.263369 0q51.582588 0 51.582588 51.582588l0 0q0 51.582588-51.582588 51.582588l-997.263369 0q-51.582588 0-51.582588-51.582588l0 0q0-51.582588 51.582588-51.582588Z" p-id="5327"></path>
      <path d="M0 894.442077m51.582588 0l997.263369 0q51.582588 0 51.582588 51.582588l0 0q0 51.582588-51.582588 51.582588l-997.263369 0q-51.582588 0-51.582588-51.582588l0 0q0-51.582588 51.582588-51.582588Z" p-id="5328"></path>
    </svg>
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header">
      <h20 class="offcanvas-title" id="offcanvasNavbarLabel">More</h20>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        <li class="nav-item">
          <a class="nav-link fs-4 fw-normal" href="http://127.0.0.1:8000/cost_cultivation_state_Bihar/">Cost of Cultivation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-4 fw-normal" href="http://127.0.0.1:8000/cost_production_state_Bihar/">Cost of Production</a>
        </li>
      </ul>
    </div>
  </div>
    Yield of States
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Bihar
      </button>
      <ul class="dropdown-menu" style="margin-left: 100px;">
        <li><a class="dropdown-item" href="http://127.0.0.1:8000/yield_state_Andhra_Pradesh/">Andhra Pradesh</a></li>
        <li><a class="dropdown-item" href="http://127.0.0.1:8000/yield_state_Bihar/">Bihar</a></li>
        <li><a class="dropdown-item" href="http://127.0.0.1:8000/yield_state_Gujarat/">Gujarat</a></li>
        <li><a class="dropdown-item" href="http://127.0.0.1:8000/yield_state_Haryana/">Haryana</a></li>
        <li><a class="dropdown-item" href="http://127.0.0.1:8000/yield_state_Karnataka/">Karnataka</a></li>
        <li><a class="dropdown-item" href="http://127.0.0.1:8000/yield_state_Madhya_Pradesh/">Madhya Pradesh</a></li>
        <li><a class="dropdown-item" href="http://127.0.0.1:8000/yield_state_Maharashtra/">Maharashtra</a></li>
        <li><a class="dropdown-item" href="http://127.0.0.1:8000/yield_state_Orissa/">Orissa</a></li>
        <li><a class="dropdown-item" href="http://127.0.0.1:8000/yield_state_Punjab/">Punjab</a></li>
        <li><a class="dropdown-item" href="http://127.0.0.1:8000/yield_state_Rajasthan/">Rajasthan</a></li>
        <li><a class="dropdown-item" href="http://127.0.0.1:8000/yield_state_Tamil_Nadu/">Tamil Nadu</a></li>
        <li><a class="dropdown-item" href="http://127.0.0.1:8000/yield_state_Uttar_Pradesh/">Uttar Pradesh</a></li>
        <li><a class="dropdown-item" href="http://127.0.0.1:8000/yield_state_West_Bengal/">West Bengal</a></li>
      </ul>
</div>

<img src="{% static 'img/Yield for State Bihar.png' %}" alt="" class="centered-image">

<div class="d-flex justify-content-center">
  <p style="font-weight: bold; font-size: 1.3em;">In Bihar state, the yield of MAIZE is about 45 (Quintal/ Hectare).</p>
</div>
{% endblock %}